<head>
  <html lang = "en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<style type="text/css">
.bgimg {
    background-image: url("http://geeglenews.com/wp-content/uploads/2017/03/simple-background-32898924.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
</style>

<div class="bgimg">

<body id="body">
    <nav class="navbar navbar-default" id="navColour">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="clr" class="navbar-brand" href="#">The Liquor Locator</a>
            </div>
            <div>
                <ul class="nav navbar-nav" >
                    <li id="clr" ><a href="http://localhost:8000/">Home</a></li>
                    <li id="clr" class="active"><a href="#">Drink Selector</a></li>
                    <li id="clr"><a href="#">Bar Crawl</a></li>
                    <li id="clr"><a href="">Current User: <img src="<%= mainuserphoto %>" class="img-circle" width="25" height="25" text ="right"> <%= mainusername %></a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

<center>
<a href="http://s347.photobucket.com/user/shawtyjesshhicuhh/media/UnJIsXuL_zpsxpj4fwd9.gif.html" target="_blank"><img src="http://i347.photobucket.com/albums/p449/shawtyjesshhicuhh/UnJIsXuL_zpsxpj4fwd9.gif" border="0" alt=" photo UnJIsXuL_zpsxpj4fwd9.gif"/></a>
</center><br>

<center>
<h2> So you wanna get <FONT COLOR="#000080">Drunk</FONT>... huh? </h2><br>

<div ng-app="CS411" ng-controller="CS411-Controller" ng-init="userweight=n/a">

      You're almost there.<br>
      <h5>How much do you weigh?</h5>
      <p>Weight: <input type="number" ng-model="userweight"> pounds</p>

<br>
<button class = "btn btn-lg btn-primary" input type="submit" ng-click="calculateBAC()">Calculate</button>

<br><br>
<div class="bordered" height = "100" width = "100">
  <h4>Your User Info:</h4>    <img src="<%= mainuserphoto %>" class="img-circle" width="40" height="40" text ="right"><br>
  <h5>Name:  <%= mainusername %></h5>
  <h5>Gender: <%= mainusergender %></h5>
  <h5>Email: <%= mainuseremail %></h5>
  <h5>Weight: <b>{{userweight}}</b> pounds</h5>
</div>


<h3> You should ...<br> <br>Take a couple shots. <br>
Or down some more beer.</h3> <br>


<center>

The ideal Blood Alcohol Concentration (BAC) for an optimal drunk is 0.11% to 0.18%.  <br>To reach a BAC of 0.11% to 0.18%., you must know how many drinks you need to consume given your gender and weight.<br>  Read more to see a chart provides an estimate of the number of drinks needed to reach the 0.11% to 0.18% BAC range for <br>drinkers who have not developed tolerance. <a href="http://www.hbcprotocols.com/anti-alcohol/perfectbuzz.html">Read more...</a><br><br>

<div class="row">
  <h3>Amount Needed to Achieve</h3>
  <div class="col-sm-4"><h2>{{display}}<br> <img ng-src ={{beerpic}} width="150" height="150"></h3></div>
  <div class="col-sm-4"><h2>{{shotsdisplay}}<br> <img ng-src={{shotspic}} width="150" height="150"></h3></div>
  <div class="col-sm-4"><h2>{{display}}<br> <img ng-src={{winepic}} widht="150" height="150"></h3></div>
</div><br><br>

<div style="width:900px;height:600px;overflow:scroll;padding:5px; border:4px double #000080;">
<center>

<style type="text/css">
#wrap {
   width:800px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}
</style>
<div id="wrap">
  <center><h3>Recommended Drinks</center></h3><br>
    <div id="left_col">
    <img src="https://drinkedin.net/images/easyblog_images/62/Long-Island-Ice-Tea.jpg" border="0" alt=" photo yelp3.jpg" width="150" height="200"/>
    <h3><FONT COLOR="#ff0000"><b> 6 </b></FONT> <FONT COLOR="#000080"> Long Island Iced Teas </FONT> </h3>
     Long Island Iced Tea = LIIT <br>
     A Long Island Iced Tea is a type of alcoholic mixed drink typically made with tequila, vodka, light rum, triple sec, gin, and a splash of cola, which gives the drink the same amber hue as its namesake.Who created the Long Island Iced Tea? Why didn't that black glove fit? The world will never know, but both will likely kill ya. Drink on, friends. Cheers. <a href="https://www.thrillist.com/vice/facts-trivia-history-of-long-island-iced-tea">Read more...</a>
    </div>
    <div id="right_col">
        <img src="http://nationalmargaritaday.com/wp-content/uploads/2015/02/tequila-health-benefits.jpg" border="0" alt=" photo yelp3.jpg" width="200" height="200""/></a><br>
         <h3> <FONT COLOR="#ff0000"><b> 2 </b></FONT> <FONT COLOR="#000080">Shots of Tequila </FONT> </h3>
        Of course, of course it’s impossible to compose such ranking without this classics. Being called “the moment of happiness between the salt and the lemon,” tequila is widely considered as one of the best party drinks. It is usually associated with the concept that whoever consumes it, had gone out to have real fun and kick his liver around tonight. Regardless of the many versions of tequila varying in taste and alcohol content, it remains one of the fastest way to get drunk.
    </div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<div id="wrap">
    <div id="left_col">
    <img src="http://dispatchist.com/wp-content/uploads/2015/05/beers.jpg" border="0" alt=" photo yelp3.jpg" width="330" height="170"/>
    <h3><FONT COLOR="#ff0000"><b> 6 </b></FONT> <FONT COLOR="#000080"> Beers (~12 oz.) </FONT> </h3>
     There are numerous types of beer out there for - all cold and ready to give you a nice buzz. Beer is typically relatively low in alcohol content, around 4-6%. This is great because it reduces the risk that alcohol will sneak up on you and leave you drunk beyond repair. Whether you or your friends are enjoying a pint at the local bar or shotgunning at a house party, beer is a very social drink. Best of all, it won’t get you too drunk if you are casually sipping, so that you won’t make a fool out of yourself (at least, not because of alcohol).
    <a href="http://berghoffbeer.com/blog/9-reasons-why-people-like-beer-so-much/">Read more...</a>
    </div>
    <div id="right_col">
        <img src="http://www.sendgiftsineurope.com/893/online-shop-europe-send-rum-bacardi-captain-morgan-malibu-delivery-service-france-germany-uk.jpg" border="0" alt=" photo yelp3.jpg" width="300" height="300""/></a>
    <h3> <FONT COLOR="#000080">Rum </FONT> </h3>
    Have a mixed drink, or drink it straight. Rum is one of the best alcoholic beverages of all time. If you’re not a fan, well you’re doing life wrong. It’s delicious, dates back to the olden days, and will get you feeling good much faster than that light beer you’re drinking. Read more for the top seven reasons why you should really be drinking more rum. <a href="http://ppcorn.com/us/2016/03/17/top-7-reasons-why-you-should-drink-more-rum/">Read more...</a>
    </div>
</div>

</center>
</div>


<center>

<br><br><br><br><br>

<script>
var app = angular.module("CS411", []);
app.controller("CS411-Controller", function($scope) {

    $scope.display="0";
    $scope.shotsdisplay="0";
    $scope.recshots = 0;
    $scope.recbeers = 0;
    $scope.recglasses = 0;

    $scope.beerpic = "http://i.imgur.com/BSwWqeC.png";
    $scope.shotspic = "http://i.imgur.com/Yt9yOri.jpg";
    $scope.winepic = "http://i.imgur.com/E4YpADc.png";

    $scope.calculateBAC = function() {
        if ($scope.userweight >= 100 && $scope.userweight < 120) {
          $scope.display = "3+";
          $scope.shotsdisplay = "2+";
        }
        else if ($scope.userweight >= 120 && $scope.userweight < 140) {
          $scope.display = "4+";
          $scope.shotsdisplay = "3+";
        }
        else if ($scope.userweight >= 140 && $scope.userweight < 160) {
          $scope.display = "4+";
          $scope.shotsdisplay = "3+";
        }
        else if ($scope.userweight >= 180 && $scope.userweight < 200) {
          $scope.display = "5+";
          $scope.shotsdisplay = "4+";
        }
        else {
          $scope.display = "6+";
          $scope.shotsdisplay = "5+";
        }
      }

  })
</script>

  <h3>Now, search for places in your area that offers your poison.</h3><br/>


<style>
  .bordered {
    width: 410px;
    height: 205px;
    padding: 10px;
    border: 2px solid black;
  }
</style>
<body>
<br>
  <div class="bordered">
  <h4>
    <form action="/yelpresult" method="GET">
    <h4><b><FONT FACE="Lucida Bright">Let the night begin.</FONT></b></h4>
      I'm looking for: <input type = "text" placeholder="jagermeister, tequila..." name="search"><br><br>
      Location: <input type="text" placeholder="boston, cambridge, brookline..." name="location"><br><br>
      <button class = "btn btn-info btn-lg" input type="submit" value = "submit">Submit</button>
    </form>
    </div>
<br>

</center>




<br><br><br>

<center> Created by Group 7 <br>CS411 Software Engineering - Spring 2017 <br> Boston University</center>

</div>